<%= form_with(model: [@stack, product]) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <div class="form-group">
    <%= form.label :link, "Amazon Link", class:"form-label" %>
    <%= form.text_field :link, class:"form-input", placeholder: "https://www.amazon.in/Nutrition-Standard-Chocolate-Recovery-Vegetarian/dp/B0C4LRVQW3/" %>
  </div>
  <%= form.submit "Add Product", class:"btn btn-primary btn-lg" %>


<% end %>
